Flask==0.10.1
Flask-Assets==0.9
Flask-Login==0.2.10
Flask-Mail==0.9.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Flask-Security==1.7.2
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.23
SQLAlchemy==0.9.4
WTForms==1.0.5
Werkzeug==0.9.4
blinker==1.3
colorama==0.3.1
coverage==3.7.1
cssmin==0.2.0
factory-boy==2.3.1
gunicorn==18.0
itsdangerous==0.24
jsmin==2.0.9
mando==0.3.1
nose==1.3.3
passlib==1.6.2
pathfinder==0.5.3
pep8==1.5.6
psycopg2==2.5.3
radon==0.5.1
simplejson==3.4.1
webassets==0.9
