<div class="container container-narrow">
    <div class="jumbotron">
        <h1>LinkedList</h1>
        <p>A fast, easy-to-use reading list/link saving service, optimized for simplicity.</p>
        {% if not current_user.is_authenticated() %}
        <p>
            <a class="btn btn-primary btn-lg" href="{{ url_for_security('register') }}">Sign up now</a>
            <small class="text-muted">or <a href="{{ url_for_security('login') }}">Log in!</a></small>
        </p>
        {% endif %}
    </div>
    <p>
        LinkedList is developed for a Software Engineering class at 
        <a href="https://www.dhbw-karlsruhe.de/">Baden-Wuerttemberg Cooperative State University Karlsruhe</a>
        by Jenni Lück, Sascha Stadelmann, and Raffael Thome.
    </p>
    <p>The source code of LinkedList is available on <a href="https://bitbucket.org/rthome/softwareengineeringcode">https://bitbucket.org/rthome/softwareengineeringcode</a>.</p>

    See what people say about it:
    <blockquote>
        <p>It's the best thing since sliced bread!</p>
        <footer>Raffael Thome, Author of LinkedList</footer>
    </blockquote>
</div>
