<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">LinkedList</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-content-collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() -%}
            <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
            {%- else -%}
            <li><a href="{{ url_for('security.login') }}">Login</a></li>
            {%- endif %}
        </ul>
    </div>
</nav>
