{% extends "layouts/base.html" %}

{% block body %}
<div id="archive-list">
    <div class="page-header">
        <h2>Archived Links <small><span class="text-info">{{ entries|count }}</span> items in your Archives.</small></h2>
        <div class="row">
            <div class="col-lg-6">
                <input type="text" class="search form-control" placeholder="Search archive..." />
            </div>
        </div>
    </div>
    <div class="list list-group">
        {% for entry in entries %}
        <a href="{{ entry.url }}" target="_blank" class="title list-group-item">
            {{ entry.title|default(entry.url, True) }}
            <small class="text-muted">
                Added {{ entry.added_at|timesince }}, archived {{ entry.archived_at|timesince }}.
            </small>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block after_scripts %}
<script>
    var options = {
        valueNames: ["title"]
    };
    var itemList = new List("archive-list", options);
</script>
{% endblock %}
