{% extends "base.html" %}

<!-- Empty navbar -->
{% block navbar_content %}{% endblock %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>User Email</th>
            <th>Join Date</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.join_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}