<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}LinkedList{% endblock %}</title>

    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block styles %}
    {% for item in base.css %}
    <link href="{{ item }}" rel="stylesheet">
    {% endfor %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">LinkedList</a>
      </div>

      {% block navbar_content %}{% endblock %}

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    
    {% block content %}{% endblock %}

    {% block scripts %}
    {% for item in base.js %}
    <script src="{{ item }}"></script>
    {% endfor %}
    {% endblock %}
  </body>
</html>
