<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}LinkedList{% endblock %}</title>

    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}

    {% block styles %}
    {% for item in base.css %}
    <link href="{{ item }}" rel="stylesheet" />
    {% endfor %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">LinkedList</a>
        </div>

        {% block navbar_content %}
        {% if session.auth%}
        <form class="navbar-form navbar-left" action="{{ url_for('add_entry') }}" method="post">
            <div class="input-group">
                <input type="url" placeholder="Add link" name="url" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Add</button>
                </span>
            </div>
        </form>
        {% endif %}
        {% endblock %}

        {% if session.auth %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session.user.email }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Preferences</a></li>
                    {% if not session.admin %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('admin_login') }}">Admin login</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                </ul>
            </li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
        {% endif %}
    </nav>

    <div style="width:75%; margin-left: auto; margin-right: auto;">
        {% block flashed_content %}
        <!-- Flashed messages -->
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>

    {% block scripts %}
    {% for item in base.js %}
    <script src="{{ item }}"></script>
    {% endfor %}
    {% endblock %}
</body>
</html>
