{% extends "base.html" %}

{% block content %}

{% if not session.auth %}
<div class="page-header">
    <h1>
        Log in <br />
        <small>
            Don't have an account?
            <a href="{{ url_for('register') }}">Register!</a>
        </small>
    </h1>
</div>
{% endif %}

<div class="panel panel-default">
    {% if session.auth %}
    <div class="panel-heading">
        <h3 class="panel-title">
            You are logged in!
        </h3>
    </div>
    {% endif %}
    <div class="panel-body">
        {% if not session.auth %}
        <form role="form" accept-charset="utf-8" action="{{ url_for('login') }}" method="post">
            <div class="form-group">
                <label class="control-label" for="email">Email address</label>
                <div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <div>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-primary">Log in</button>
        </form>
        {% else %}
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label">Email address</label>
                <div>
                    <p class="form-control-static">{{ session.user.email }}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label">Password</label>
                <div>
                    <p class="form-control-static">******</p>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    {% if session.auth %}
    <div class="panel-footer">
        <a class="btn btn-link" type="submit" href="{{ url_for('index') }}">
            <span class="glyphicon glyphicon-chevron-left" />
            Return to main page
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}