{% extends "base.html" %}

{% block content %}
<!-- Register -->
<div class="panel panel-default">
    <div class="panel-body">
        Don't have an account?
        <a href="{{ url_for('register') }}">Register!</a>
    </div>
</div>

<!-- Log in -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Log in</h3>
    </div>
    <div class="panel-body">
        <form role="form" accept-charset="utf-8" action="{{ url_for('login') }}" method="post">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
            </div>
            <button type="submit" class="btn btn-default">Log in</button>
        </form>
    </div>
</div>
{% endblock %}